.main {
    margin-top: 10vh;
    margin-bottom: 30vh;
    min-height: 400px;
}

h4 {
    margin-top: 16px;
}

.mui {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 5px solid #000000;
}

hr {
    border-bottom: 1px solid black !important;
}